@page "/pests/rats"

<SiWebsite.Client.Components.PestsIconsTable/>

<div class="page-max-width padding-5px">

    <table>
        <tr>
            <td class="pest-header-icon">
                <img src="/icons/rats.svg" class="pest-header-icon" />
            </td>
            <td>
                <h1 class="pest-header">Brown Rat</h1>
                <h5 class="pest-latin-name">Rattus Norvegicus</h5>
            </td>
        </tr>
    </table>

    <div class="line-divider-white"></div>

    <div class="row">
        <div class="col-md-6 col-md-push-6 align-self-center text-center">
            <img class="pest-header-img img-fluid margin-auto" src="/images/rats.png" />
        </div>
        <div class="col-md-6 col-md-pull-6">
            <p>
                Otherwise known as the brown rat, this animal was first introduced to the UK around the year 1720, and has become widespread across the country ever since.
            </p>
            <p>
                The brown rat found its way onto our shores aboard ships, and has done similarly to reach most countries in the world.
                The brown rat's success is mainly down to its incredible adaptiblity to a wide range of habitats and its fast breeding rate.
            </p>
            <p>
                Young rats become sexually mature at around 12 weeks of age; females then have up to 5 litters a year, producing up to 12 young each time!
                For these reasons, it's easy to see how rats can soon become a major problem.
            </p>
            <p>
                Brown rats carry several dangerous diseases, including leptospirosis, weils disease, listeria and salmonella to name a few.
                These diseases can be contracted by humans and livestock alike.
            </p>
        </div>
    </div>

    <div class="pest-center-info-div-outer">
        <div class="pest-center-info-div">
            Controlling rat infestations must be done in a correct manner to ensure the safety of everyone on site.
            Below are some methods we use to control rat numbers.
        </div>

        <SiWebsite.Client.Components.CallToday />
    </div>


    <div class="row">
        <div class="col-md-6">

            <h3 class="pest-section-title">Trapping</h3>

            <p>
                Specially designed tunnel traps are used in conjunction with British made Fenn traps to ensure only target species are caught.
                Birds, hedghogs and household pets cannot access the trap when set.
            </p>
            <p>
                Tunnel traps are first pre-baited and left unset, so rats can get used to feeding in them. This way, when the traps are set the
                rats are caught quickly.
            </p>
            <p>
                Sometimes tunnel traps aren't suitable in a given environment. For example, in some situations squirrels can access the trap to feed on
                the bait which has been left for the rats. If squirrels are not to be targeted as pests, or if the environment is home to red squirrels which are a protected species,
                then live traps can be used instead. In live traps, non-targeted animals can simply be released on discovery.
            </p>
            <p>
                Luckily around the north of England red squirrels are non-existent, apart from in one known woodland in Wensleydale where a small population
                has been re-introduced.
            </p>
            <p>
                <b>NOTE:</b>
                <ul>
                    <li>Live traps must be checked every 24 hours by law, but we endeavour to check our traps every 12 hours.</li>
                    <li>If a grey squirrel is caught in a live trap it cannot be released back into the wild by law, as it is considered an invasive species.</li>
                </ul>
            </p>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h3 class="pest-section-title">Controlled Shooting</h3>

            <p>
                Controlled night time shooting with high powered air rifles and modern night vision can be a very efficient method of controlling rat numbers quickly
                on sites where rat numbers are high.
            </p>
            <p>
                Not all sites are safe to be using air rifles. In these situations trapping would be the better option.
            </p>
        </div>
    </div>

    <div class="pest-center-info-div-outer">
        <h3 class="pest-section-title margin-auto text-center">Pest Proofing</h3>
        <div class="pest-center-info-div">
            We also provide a pest proofing service for when a rat has been caught within a household or other buildings. Once a rat has been caught, we can establish where
            rats are coming from and block any entrances for good.
        </div>

    </div>

    <div class="line-divider-white"></div>

    <SiWebsite.Client.Components.PestsIconsTable />

</div>