@page "/pests/corvids"

<SiWebsite.Client.Components.PestsIconsTable />

<div class="page-max-width padding-5px">

    <table>
        <tr>
            <td class="pest-header-icon">
                <img src="/icons/corvids.svg" class="pest-header-icon" />
            </td>
            <td>
                <h1 class="pest-header">Corvids</h1>
                <h5 class="pest-latin-name">Corvidae</h5>
            </td>
        </tr>
    </table>

    <div class="line-divider-white"></div>

    <div class="row">
        <div class="col-md-6 col-md-push-6 align-self-center text-center">
            <img class="pest-header-img img-fluid margin-auto" src="/images/corvids.png" />
        </div>
        <div class="col-md-6 col-md-pull-6">

        </div>
    </div>

    <div class="pest-center-info-div-outer">
        <div class="pest-center-info-div">

        </div>
    </div>


    <div class="row">
        <div class="col-md-6">

            <h3 class="pest-section-title">Trapping</h3>


        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h3 class="pest-section-title">Controlled Shooting</h3>


        </div>
    </div>

    <div class="pest-center-info-div-outer">
        <h3 class="pest-section-title margin-auto text-center">Pest Proofing</h3>
        <div class="pest-center-info-div">

        </div>
    </div>

    <div class="line-divider-white"></div>

</div>