@page "/pests/squirrels"

<SiWebsite.Client.Components.PestsIconsTable/>

<div class="page-max-width padding-5px">

    <table>
        <tr>
            <td class="pest-header-icon">
                <img src="/icons/squirrels.svg" class="pest-header-icon" />
            </td>
            <td>
                <h1 class="pest-header">Grey Squirrel</h1>
                <h5 class="pest-latin-name">Scirus Carolinensis</h5>
            </td>
        </tr>
    </table>

    <div class="line-divider-white"></div>

    <div class="row">
        <div class="col-md-6 col-md-push-6 align-self-center text-center">
            <img class="pest-header-img img-fluid margin-auto" src="/images/squirrels.png" />
        </div>
        <div class="col-md-6 col-md-pull-6">
            <p>
                The Eastern grey squirrel, known in the UK as the grey squirrel, is an invasive and ecologically damaging species. The grey squirrel was first introduced here in 1876. Many people
                are to blame for the grey's introduction but one of the worst offenders is thought to be the 11th Duke of Bedford, Herbrand Russell.
                Russell was involved in many successful animal conservation projects, but he released many grey squirrels and even gifted them
                to people.
            </p>
            <p>
                The grey squirrel carries a disease called Parapoxvirus. The virus does not seem to affect grey squirrels, however
                it can kill our native red squirrels if the disease is passed onto them.
            </p>
            <p>
                Grey squirrels also have another advantage over their native red cousin. The grey is a larger, stronger, more dextrous creature with a broader diet range,
                meaning it can gather food more effectively and dominates areas which used to be red squirrel nesting spots.
            </p>
            <p>
                It's believed there are only 140,000 red squirrels left in the UK, mostly in Scotland. In comparison, grey squirrel numbers are quickly reaching 3 million.
            </p>
            <p>
                It's not just the red squirrel that has to worry about the grey's arrival. Grey squirrels have a habit of taking up good nesting spots which would
                usually be inhabited by native woodland birds. As well as this, grey squirrels will feed on any eggs they come into, and even destroy and eat live chicks.
            </p>
            <p>
                Even bird boxes put out to provide habitat for native birdlife can be broken into by grey squirrels. They also have a habit of breaking into loft spaces
                and thus cause unwanted damage to residential property.
            </p>
        </div>
    </div>

    <div class="pest-center-info-div-outer">

        <SiWebsite.Client.Components.CallToday />

        <div class="pest-center-info-div">
            Below are some of the methods used to control grey squirrel numbers.
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">

            <h3 class="pest-section-title">Trapping</h3>

            <p>
                Trapping is an effective way of controlling grey squirrel numbers. Traps can be set in specific locations of high squirrel activity,
                and can be baited before being set. This allows squirrels to get used to the traps being there, and allows
                for quickly catching them once the trap is set.
            </p>
            <p>
                Live traps can be used where other traps are not suitable.
            </p>
            <p>
                <b>NOTE:</b>
                <ul>
                    <li>Live traps must be checked every 24 hours by law, but we endeavour to check our traps every 12 hours.</li>
                    <li>If a grey squirrel is caught in a live trap it cannot be released back into the wild by law, as it is considered an invasive species.</li>
                </ul>
            </p>
        </div>
        <div class="col-md-6">
            <SiWebsite.Client.Components.ImageCaptioned Caption="When squirrels strip the bark it can result in the death of the tree, as it opens the tree up to disease and pests" ImageFile="squirrel-damage-1.jpg" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <SiWebsite.Client.Components.ImageCaptioned Caption="The bark on the smaller tree has been stripped away by squirrels" ImageFile="squirrel-damage-2.jpg" />
        </div>
        <div class="col-md-6">
            <h3 class="pest-section-title">Controlled Shooting</h3>

            <p>
                Controlled day time shooting with high powered air rifles is an effective and humane way of controlling squirrel numbers when done correctly.
                Setting up a feeding station for the squirrels, while hiding nearby it is easy to take a steady aim and make consistent shots, providing a quick and painless dispatch.
            </p>
            <p>
                This is the best method for large woodlands where lots of squirrels are around. High numbres of squirrels can be dispatched within a short session.
            </p>
            <p>
                Depending on the landscape, shooting is not always a suitable option.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <SiWebsite.Client.Components.ImageCaptioned Caption="The tooth marks in this tree are an obvious sign of a grey squirrel" ImageFile="squirrel-damage-3.jpg" />
        </div>
        <div class="col-md-6">
            <SiWebsite.Client.Components.ImageCaptioned Caption="This blue tit box has been destroyed by a grey squirrel. The bird was seen feeding its chicks just days before" ImageFile="squirrel-damage-4.jpg" />
        </div>
    </div>

    <div class="pest-center-info-div-outer">
        <h3 class="pest-section-title margin-auto text-center">Pest Proofing</h3>
        <div class="pest-center-info-div">
            We also provide a pest proofing service. If you have a squirrel getting into your home or loft space, we can firstly remove the squirrel,
            and will then block the place where the squirrel was gaining access.
        </div>
    </div>

    <div class="line-divider-white"></div>

    <SiWebsite.Client.Components.PestsIconsTable />

</div>