@page "/pests/mice"

<SiWebsite.Client.Components.PestsIconsTable />

<div class="page-max-width padding-5px">

    <table>
        <tr>
            <td class="pest-header-icon">
                <img src="/icons/rats.svg" class="pest-header-icon" />
            </td>
            <td>
                <h1 class="pest-header">House Mouse / Field Mouse</h1>
                <h5 class="pest-latin-name">Mus Musculus / Apodemus Sylvaticus</h5>
            </td>
        </tr>
    </table>

    <div class="line-divider-white"></div>

    <div class="row">
        <div class="col-md-6 col-md-push-6 align-self-center text-center">
            <img class="pest-header-img img-fluid margin-auto" src="/images/house-mouse.png" />
        </div>
        <div class="col-md-6 col-md-pull-6">
            <h3 class="pest-section-title">The House Mouse (Mus Musculus)</h3>
            <p>
                The house mouse is the more likely of the two common mouse species to be found in the house, and the clue is it's name!
                Though thankfully houses are constructed better nowadays, with less nooks and crannies for mice to find their way in.
            </p>
            <p>
                Sheds and outbuilding though still have potential for mice to get into. Mice can breed extremely
                quickly just, like the rats, so it’s important to get on top of the issue when first encountered.
            </p>
            <p>
                Mice can spread numerous diseases and can cause damage within your property. They can chew on wiring which poses electrical
                problems, potentially leading to a fire hazard. Mice will also chew in sacks of animal or human food, defecating and urinating over
                it whilst foraging. This poses a threat of disease in both animals and humans.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <h3 class="pest-section-title">The Field Mouse (Apodemus Sylvaticus)</h3>

            <p>
                The field mouse is less likely to be found in most properties but can be found in more rural locations,
                old farm houses being the most likely.
            </p>
            <p>
                Field mice pose the same threat as the house mouse, chewing on almost anything and making a mess in the process,
                and also pose the same hygiene risks as they attempt to get at any food.
            </p>

        </div>
        <div class="col-md-6 align-self-center text-center">
            <img class="pest-header-img img-fluid margin-auto" src="/images/field-mouse.png" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-push-6 align-self-center text-center">

        </div>
        <div class="col-md-6 col-md-pull-6">

            <h3 class="pest-section-title">Trapping</h3>

            <p>
                We prefer to use live traps for mice, meaning they can be released into a large woodland away from houses.
            </p>
            <p>
                This not only bodes well for the mouse but also helps out our local kestrels and owls who rely on environments rich with prey items.
            </p>
        </div>
    </div>

    <div class="line-divider-white"></div>

    <SiWebsite.Client.Components.PestsIconsTable />

</div>
