@page "/pests/mink"

<SiWebsite.Client.Components.PestsIconsTable />

<div class="page-max-width padding-5px">

    <table>
        <tr>
            <td class="pest-header-icon">
                <img src="/icons/mink.svg" class="pest-header-icon" />
            </td>
            <td>
                <h1 class="pest-header">American Mink</h1>
                <h5 class="pest-latin-name">Neovison vison</h5>
            </td>
        </tr>
    </table>

    <div class="line-divider-white"></div>

    <div class="row">
        <div class="col-md-6 col-md-push-6 align-self-center text-center">
            <img class="pest-header-img img-fluid margin-auto" src="/images/mink.png" />
        </div>
        <div class="col-md-6 col-md-pull-6">
            <p>
                The American mink has been in our country ever since mink fur farms were first established in the 1920s. 
                Mink would escape from the fur farms on occasions, and were soon found living in the wild.
            </p>
            <p>
                Many people believe it was the fault of animal rights campaigners for wrongly releasing mink into our countryside;
                they didn't help matters, but mink were found in the wild long before that time.
            </p>
            <p>
                Mink absolutely devastate our native wildlife. They prey on a wide range of bankside wildlife, such as aquatic birds,
                voles, shrews, fish etc. Mink are known for killing more than they can eat, so you often know when a mink
                has passed through as it ususally leaves a trail of partly eaten corpses.
            </p>
            <p>
                The mink has hunted some rare species of wildlife to near extinction.
                The water vole is one such creature; between the 1980s and 1990s, their numbers dropped by 90%, and this has been put mainly
                down to the American mink's success around that time.
            </p>
            <p>
                Whenever a mink is spotted in the wild it is important it is reported to a pest controller on first sight, so it
                can be dealt with quickly.
            </p>
            
        </div>
    </div>

    <div class="pest-center-info-div-outer">
        <div class="pest-center-info-div">
            <p>
                If you have spotted a mink in the wild, feel free to contact us at @SiWebsite.Data.Global.SiteName; the mink has
                such a great impact on our native wildlife that <strong>we will deal with mink free of charge</strong>.
            </p>
            <p>
                Otters and mink can look very similar from a distance, so please make sure it is a mink before calling.
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">

            <h3 class="pest-section-title">Methods</h3>

            <p>
                Mink are usually found along the river side and this is most likely where they will be spotted.
            </p>
            <p>
                We use live traps which are set either by the rivers edge or on a floating raft. It is preferable to
                use live traps as otters are often found in the areas where mink live. Live traps do not injure the animal,
                so if an otter is accidentally caught it can be released.
            </p>
            <p>
                <b>NOTE:</b>
                <ul>
                    <li>Live traps must be checked every 24 hours by law, but we will endeavour to check them twice daily.</li>
                    <li>You can also call us if you notice a trap has caught something and we will come straight away.</li>
                </ul>
            </p>

        </div>
        <div class="col-md-6">
        </div>
    </div>


    <div class="line-divider-white"></div>

</div>