@page "/pests/moles"

<SiWebsite.Client.Components.PestsIconsTable />

<div class="page-max-width padding-5px">

    <table>
        <tr>
            <td class="pest-header-icon">
                <img src="/icons/moles.svg" class="pest-header-icon" />
            </td>
            <td>
                <h1 class="pest-header">Mole</h1>
                <h5 class="pest-latin-name">Talpa Europaea</h5>
            </td>
        </tr>
    </table>

    <div class="line-divider-white"></div>

    <div class="row">
        <div class="col-md-6 col-md-push-6 align-self-center text-center">
            <img class="pest-header-img img-fluid margin-auto" src="/images/moles.png" />
        </div>
        <div class="col-md-6 col-md-pull-6">
            <p>
                The European mole is native to our country and is the only pest not introduced by man.
            </p>
            <p>
                Moles are incredible little creatures and to some landscapes cause little issues or problems, in fact their
                excavation can be said to aid the land by draining and irrigating it.
            </p>
            <p>
                Moles can shift up to 540 times their own body weight of earth and tunnel up to 200 metres per day!
                They are extremely hard working individuals, typically working in patterns of 4 hour shifts, with a 4 hour
                sleep in between, meaning they typically spend 12 hours tunnelling every day.
            </p>
            <p>
                Moles can unfortunately cause great problems around livestock. Their underground tunnels and molehills can create uneven
                ground and holes that livestock can be injured by.
            </p>
            <p>
                Moles can also be a real pain for gardening enthusiasts,
                digging up and making a mess of a pristine lawn in no time at all.
            </p>
        </div>
    </div>

    <div class="pest-center-info-div-outer">
        <div class="pest-center-info-div">
            If you are experiencing problems with moles please feel free to give us a call.
        </div>

        <SiWebsite.Client.Components.CallToday />
    </div>


    <div class="row">
        <div class="col-md-6">

            <h3 class="pest-section-title">Methods</h3>
            <p>
                High powered spring-loaded traps are the best means of dealing with moles humanely.
            </p>
            <b>NOTE:</b>
            <ul>
                <li>
                    Traps must be checked daily by law. We will usually check them twice-daily - morning and night - to allow
                    quicker reset and hopefully to catch again sooner.
                </li>
            </ul>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="line-divider-white"></div>

    <SiWebsite.Client.Components.PestsIconsTable />

</div>