@page "/pests/rabbits"

<SiWebsite.Client.Components.PestsIconsTable />

<div class="page-max-width padding-5px">

    <table>
        <tr>
            <td class="pest-header-icon">
                <img src="/icons/rabbits.svg" class="pest-header-icon" />
            </td>
            <td>
                <h1 class="pest-header">Rabbit</h1>
                <h5 class="pest-latin-name">Oryctolagus Cuniculus</h5>
            </td>
        </tr>
    </table>

    <div class="line-divider-white"></div>

    <div class="row">
        <div class="col-md-6 col-md-push-6 align-self-center text-center">
            <img class="pest-header-img img-fluid margin-auto" src="/images/rabbits.png" />
        </div>
        <div class="col-md-6 col-md-pull-6">
            <p>
                The European rabbit was brought over to the UK by the Normans and established its presence in the 
                mid to late 12th century.
            </p>
            <p>
                In the mid 19th century  rabbit numbers increased dramatically, becoming a major agricultural pest. The population
                increase was due to largescale planting of hedgerows, providing shelter and easy burrowing in the loosened soil.
            </p>
            <p>
                By 1950, rabbits were destroying £50 million worth of crops per year. Soon after this, the myxomatosis virus appeared, and
                within two years 99% of the population was naturally culled. Rabbits are now developing a resistance to the disease,
                though outbreaks do still occur. The population has largely recovered and rabbit damage is now estimated to be over
                £100 million a year.
            </p>
            <p>
                New agricultural technology and increased cereal production has led to abundance in the rabbit's food supply. As well
                as this, large numbers of rabbits' natural predators are now controlled by gamekeepers and on shooting estates, so
                rabbit numbers remain extremely high.
            </p>
            <p>
                Rabbits can cause serious damage to crops and also burrow along hedgerows and into fields with livestock in.
                Livestock can sometimes be badly injured if they fall into the holes and burrows that rabbits create.
            </p>
        </div>
    </div>

    <div class="pest-center-info-div-outer">
        <div class="pest-center-info-div">
          If you are experiencing problems with rabbits on your land, please feel free to give us a call.
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">

            <h3 class="pest-section-title">Methods</h3>

            <p>
                We have numerous methods of dealing with rabbits, from ferretting, shooting, live trapping, and long-netting.
            </p>
            <p>
                We will do an assessment of your rabbit problem and suggest the safest, most effective method of controlling
                the population. Often certain methods aren't possible due to the nature of your premises; we will always
                determine the safest method for your situation.
            </p>
        </div>
        <div class="col-md-6">
            <img src="/api/Site/GetImage/netting1.jpg" />
        </div>
    </div>


    <div class="line-divider-white"></div>

</div>