@page "/"

<SiWebsite.Client.Components.TopImage/>

<div class="page-max-width">
    <SiWebsite.Client.Components.PestsIconsTable ShowHomeLink="false"/>

    <div class="row">
        <div class="col-md-6 col-md-push-6 align-self-center text-center">
            <img class="pest-header-img img-fluid margin-auto home-para-logo" src="/images/yorkshire-rose.png" />
        </div>
        <div class="col-md-6 col-md-pull-6">
            <h3 class="pest-section-title">Why choose @Global.SiteName?</h3>
            
            <p>
                Here at @Global.SiteName we use traditional pest control techniques alongside modern technology, avoiding the use of gases and poisons.
            </p>
            <p>
                Our main ethos is to provide a humane, efficient and environmentally friendly service and we believe our techniques ensure this.
            </p>
            <p>
                We use variety of spring traps, all  <a class="inline-link" href="https://www.legislation.gov.uk/uksi/2021/19/made" target="_blank">STAO</a>
                and <a class="inline-link" href="https://www.gov.uk/government/news/humane-trapping-standards-march-2019-update" target="_blank">AIHTS</a>
                approved where appropriate
            </p>
            <p>
                We aim to help our native wildlife wherever we can, and provide an affordable and accessible service on
                invasive species. We provide a free service for mink due to their devastating affect on our native wildlife.
                We provide reduced rates to wildlife charities and conservation sites. We even provide a nest box service where we
                provide our own high quality made bird boxes which we can fit for you, providing safe refuge for our song birds away from 
                unwanted grey squirrels and other predators.
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">

            <div style="display: flex;margin: 50px 0px;">
                <ul style="line-height: 32px;">
                    <li>
                        Based in Harrogate, covering North Yorkshire and sometimes further.
                    </li>
                    <li>
                        Always striving to provide the most humane service possible.
                    </li>
                    <li>
                        Affordable rates on all our services.
                    </li>
                    <li>
                        Using Environmentally friendly methods.
                    </li>
                    <li>
                        With many years experience in pest control you can rest assured knowing your pest problem will be dealt with swiftly, safely and professionally.
                    </li>
                </ul>
            </div>


        </div>
    </div>

   



    <hr />
    <br />
    <br />

</div>

@code{

    protected override void OnInitialized()
    {
        Global.SetSelectedPestItem("");
        base.OnInitialized();
    }

}