@page "/"

@using SiWebsite.Data


<SiWebsite.Client.Components.TopImage/>

<div class="page-max-width">
    <SiWebsite.Client.Components.PestsIconsTable ShowHomeLink="false"/>

    <div class="row">
        <div class="col-md-6 col-md-push-6 align-self-center text-center">
            <img class="pest-header-img img-fluid margin-auto home-para-logo" src="/images/yorkshire-rose.png" />
        </div>
        <div class="col-md-6 col-md-pull-6">
            <h3 class="pest-section-title">Why choose @Global.SiteName?</h3>
            
            <p>
                Here at @Global.SiteName we use traditional pest control techniques, avoiding the use of poisons and gases. 
            </p>
            <p>
                We believe that a traditional approach is more eco friendly. We use <a class="inline-link" href="https://www.gov.uk/government/news/humane-trapping-standards-march-2019-update" target="_blank">AIHTS</a>
                approved traps, mostly made in Britain.
            </p>
            <p>
                At @Global.SiteName we like to have a positive impact on our environment and to help out our native wildlife wherever we can.
            </p>
            <p>
                This is why we don't charge for mink control, and we provide an affordable and accessible squirrel control service.
                We also provide reduced rates to wildlife charities and conservation sites.
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">

            <div style="display: flex;margin: 50px 0px;">
                <ul>
                    <li>
                        Based in Harrogate, covering North Yorkshire and sometimes further.
                    </li>
                    <li>
                        Many years experience in pest control.
                    </li>
                    <li>
                        We can deal with your pest problems swiftly, professionally and safely.
                    </li>
                </ul>
            </div>


        </div>
    </div>

   



    <hr />
    <br />
    <br />

</div>

@code{

    protected override void OnInitialized()
    {
        Global.SetSelectedPestItem("");
        base.OnInitialized();
    }

}