
<div style="max-width: 1200px;
    margin: 20px auto;
    font-weight: bold;
    text-align: center;">
    Call today:  <a class="inline-link" href="tel:@Global.ContactNum">@Global.ContactNum</a>
</div>